.dot {
    height: 25px;
    width: 25px;
    background: url(./img/profile.png);
    background-size: 25px 25px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 6px;
    top: 5px;
  }