.bar1 {
    width: 100%;
    height: 15px;
    border-radius: 35px 35px;
    background-color: grey;
}

.bar2 {
    width: 60%;
    border-radius: 35px 35px;
    height: 15px;
    background-color: #fcee30;
    color: black;
    overflow: visible;
    position: relative;
    margin-bottom: 40px;
}