/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(150, 150, 150);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(97, 97, 97);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  h6 {
    color: #fff;
  }