.status{
    text-align: right;
    height: 100%;
    display: inline-block;
    position: relative;
    left: -29px;
    top: -9px;
}
.icon {
    display: inline-block;
    position: relative;
    top: 9px;
}
.online{
    color: #00ff29;
}
.offline{
    color: red;
}
.time{
    color: white;
    display: inline-block;
    position: relative;
    top: 6px;
    font-size: 13px;
}
